# Environment variables
.env

# Node
node_modules

# Foundry
out
cache

# Hardhat
cache

# Backend
backend/artifacts
backend/cache
backend/out


# SetupTestData
backend/setup_test_data.sh


# Frontend
frontend/node_modules

